---
BasedOnStyle: Google
AllowShortFunctionsOnASingleLine: Empty
ColumnLimit: 80
IndentWidth: 4
---
Language: Cpp
AccessModifierOffset: -4
ConstructorInitializerIndentWidth: 6
Cpp11BracedListStyle: true
DerivePointerAlignment: false
---
